header {
  /* background-image: url("/images/desktop/image-hero.jpg"); */
  height: 650px;
  position: relative;
  padding: 0rem var(--mainPaddingX);
  color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-img-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.4rem 0rem;
  transform: scaleY(0);
  animation: scale_y 1s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes scale_y {
  100% {
    transform: scaleY(1);
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

@keyframes scale_from_center {
  100% {
    transform: scaleX(1);
  }
}

.header-h1-content {
  border: 2px solid var(--white);
  padding: 4rem;
  width: fit-content;
  margin: 4rem 0;
  overflow: hidden;
}

.header-h1 {
  text-transform: uppercase;
  font-weight: 100;
}

.animate-h1 {
  display: block;
  transform: translateX(-65rem);
  animation: slideright 1s var(--delay) cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes slideright {
  100% {
    transform: translateX(0rem);
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 4rem 0;
  }

  .header-h1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (max-width: 375px) {
  header {
    background-image: url("/images/mobile/image-hero.jpg");
  }
}
